
<%- include('include/head') %>
    <title>Archieve</title>
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css"> -->
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <%- include('include/sidebar') %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3  text-dark" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Archive</h2>
                </div>

               
            </nav>
            <!-- BODY CONTENT -->
            <div class="navbar-nav navbar-dark position-relative mt-5">
                <table class=" display table table-hover text-center bg-white" id="example"  style="width:100%"> 
                    <thead class="table-dark">
                        <tr >
                            <th  scope="col">ID</th>
                            <th scope="col">Product Image</th>
                            <th scope="col">Product Name</th>
                            
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            <% product.forEach(data => { %>
                                <tr>
                                    <td><%- data.id %></td>
                                    <td><img src="<%- data.img_name %>" alt="" style="width: 50px; height: 50px;"></td>
                                    <td><%- data.product_name %></td>
                                    <td>
                                        <div class="d-flex j justify-content-center">
                                            <form action="/admin/archive/<%- data.id %>/restore" method="POST">
                                                <button class="btn btn-success "><i class="bi bi-arrow-counterclockwise "></i>Restore</button>
                                            </form>
                                            <form action="/admin/archive/<%- data.id %>/delete" method="POST">
                                                <button class="btn btn-danger ms-1"><i class="bi bi-trash me-1"></i>Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                </table>
                <% if(product == '') { %> 
                    <h4 id="nodata" class="text-center"> No data available in table</h4>
                <% } %>  
            </div>
            <!-- BODY CONTENT -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/admin.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script>
        $('#example').DataTable( {
            "ordering": false
        } );
      
    </script> -->
</body>
</html>
