
<%- include('include/head') %>
  <title>History-Cancelled</title>  
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <%- include('include/sidebar') %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3  text-dark" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Order Status</h2>
                </div>

               
            </nav>
            <!-- BODY CONTENTs -->
            <!-- BUTTONS TO CLICK TO GO TO DIFFERENT PAGES -->
            <div class="container text-center">
                <div class="btn-group btn-group-justified">
                  <a href="/admin/order-status" class="btn btn-dark">Pending Orders</a>
                  <!-- <a href="/admin/approve-order" class="btn btn-dark">Approved Orders</a> -->
                  <a href="/admin/ongoing-order" class="btn btn-dark">Preparing Orders</a>
                  <a href="/admin/out-for-delivery" class="btn btn-dark">Out for delivery</a>
                  <a href="/admin/completed-order" class="btn btn-dark">Completed Orders</a>
                  <div class="btn-group btn-group-justified">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        History</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="/admin/completed-order/history">Completed</a></li>
                      <li><a class="dropdown-item" href="/admin/cancelled-order">Cancelled</a></li>
                    </ul>
                  </div>
                </div>
              <div class="fs-4 mb-5"></div>
            </div>
              <!-- TABLE WITH USERS DATA -->
              <table class=" display table table-hover text-center bg-white" id="example"  style="width:100%">
                <thead class="table-dark">
                    <tr>
                     <th id="date"  scope="col" >Date</th>
                        <th scope="col">Name</th>
                        <th id="address">Address</th>
                        <th scope="col">Contact #</th>
                        <th id="order" scope="col">Order</th>
                        <th id="quantity" scope="col">Quantity</th>        
                        <th scope="col">MOP</th>
                        <th scope="col">SubTotal</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th id="action"scope="col">Reason</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% order.forEach(info => { %>
                        <tr>
                          <td id="date"><%- info.date_ordered.toLocaleString() %></td>
                          <td id="name"><%- info.fullname %></td>
                          <td id="address"><%- info.house_no %> <%- info.zip_code %> <%- info.barangay %> <%- info.city %> <%- info.province %></td>
                          <td><%- info.contact_number %></td>
                          <td>
                            <% info.items.forEach(data => { %>
                              <p><%- data.name %></p>
                            <% }) %>
                          </td>
                          <td>
                            <% info.items.forEach(data => { %>
                              <p><%- data.quantity %></p>
                            <% }) %>
                          </td>
                         
                          <td><%- info.payment_method %></td>
                          <td><%- info.sub_total %></td>
                          <td><%- info.total_amount %></td>
                          <td><%- info.order_type %></td>
                          <td> <%- info.reason %></td>
                        </tr>
                      <% }) %>
                    </tbody>
                </table>
                <% if(order == null) { %>
                    <p>No Approved Order</p>
                <% } %>
                <tr>
                  <td>
                    <div class="container">
                      <div class="btn-group">
                       <div class="col-md-12 text-center">
                           
                          <!-- The Modal -->
                          <div class="modal" id="myModal">
                            <div class="modal-dialog">
                              <div class="modal-content"> 
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Cancel Pending Orders</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                          <!-- Modal body -->
                          <div class="modal-body">
                            Are you sure you want to cancel this orders?
                          </div>
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <a href="/admin/order-status/cancel" class="btn btn-success">Save Changes</a>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
    <!-- /#page-content-wrapper -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/admin.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script>
        $('#example').DataTable( {
  "ordering": false
} );
      
    </script>
</body>

</html>