
<%- include('include/head') %>
    <title>Sales Report</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <%- include('include/sidebar') %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center text-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3  text-dark" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Sales Report</h2>
                </div>
            </nav>

            <div class="container-fluid ">
                <div class="row g-3 ">
                    <div class="row g-3 ">
                        <div class="container">
                            <section>
                                <div class="row">
                                    <div class="col-xl-6 col-md-12 mb-4">
                                        <div class="card bg-dark">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between p-md-1">
                                                    <div class="d-flex flex-row">
                                                        <div>
                                                            <h4 class="text-white">Total Sales</h4>
                                                            <p class="mb-0 text-white">Subtotal</p>
                                                        </div>
                                                    </div>
                                                    <div class="align-self-center">
                                                        <h2 class="h1 mb-0 text-white"><%- total_sales.toLocaleString(undefined, { style: 'currency', currency: 'PHP' }) %></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="container  d-flex justify-content-end ms-4 ">
                          
                            <div class="col-md-4 d-grid gap-2 mb-1 ">
                                <form action="/admin/sales-report" method="GET">
                                    <div class="input-group ">
                                        <select name="option" id="" class="px-1 py-1" required>
                                            <option value="" disabled selected>Please Select</option>
                                              <option value="Online">Online</option>
                                              <option value="Walk In">Walk In</option>
                                        </select>
                                        <input class="form-control bg-white text-dark" type="date" id="inputdateStart" name="start" required>
                                        <input class="form-control bg-white text-dark" type="date" id="inputdateEnd" name="end" required>
                                        <button class="btn bg-dark text-white btn-sm ms-2 " type="submit">Sort</button>
                                        <button class="btn btn-dark px-3 py-1 ms-1" id="print"> 
                                            <i class="bi bi-printer-fill"></i>
                                        </button>
                                    </div>
                                    
                                </form>
                                
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
            <!-- table -->
            <table class="table table-hover  rounded text-center bg-white">
                <thead class="table-dark">
                    <tr>
                        <!-- <th scope="col">ID</th> -->
                        <th scope="col">Date</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Sold Items</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Shipping fee</th>
                        <th scope="col">Total</th>
                        <th scope="col">Appointment</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <% sales.forEach(data => { %>
                        
                        <tr>
                            <td id="date"><%- data.createdAt.toLocaleString() %></td>
                            <td id="item-name">
                                <% data.items.forEach(details => { %>
                                    <p><%- details.product_name %></p>
                                <% }) %>
                            </td>
                            
                            <td id="quantity">
                                <% data.items.forEach(details => { %>
                                    <p><%- details.product_price %></p>
                                <% }) %>
                            </td>
                            <td id="quantity">
                                <% data.items.forEach(details => { %>
                                    <p><%- details.product_quantity %></p>
                                <% }) %>
                            </td>
                            <td id="subtotal"><%- data.sub_total %></td>
                            <td id="shipping-fee"><%- data.shipping_fee %></td>
                            <td id="total"><%- data.total %></td>
                            <td id="reason"><%- data.reason %></td>
                        </tr>
                    <% }) %>
                    
                </tbody>
            </table>
            <% if(sales == '') { %> 
                <h4 id="nodata" class="text-center"> No data available in table</h4>
            <% } %>    
              
            
            <!-- Page Content -->
        </div>
            
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/admin.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <!-- <script type="text/javascript">
        $(function() {
            $('input[name="daterange"]').daterangepicker();
        });
    </script> -->
    <!-- <script>
        $(function(){
            var dtToday = new Date();
         
            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if(month < 10)
                month = '0' + month.toString();
            if(day < 10)
                day = '0' + day.toString();
            
            var maxDate = year + '-' + month + '-' + day;
            alert(maxDate);
            $('#inputdateStart').attr('min', maxDate);
            $('#inputdateEnd').attr('min', maxDate);
        });
    </script> -->
</html>
  
</body>
</html>
