<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/user-history.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <%- include('include/head') %>
    <title>History</title>
  </head>
  <body>
    <!-- Main container -->
    <div class="page-container">
      <%- include('include/nav') %>
      <!-- Body container -->
      <div class="body-content">
        <div class="column">
          <div class="btn-container">
            <a class="myaccount" href="account">Account</a>
            <a class="orders" href="order">Orders</a>
            <a class="history active" href="history">History</a>
          </div>
        </div>
        <!-- table -->
        <div class="column-1">
          <div class="table-wrapper">
            <table id="example" class="display" style="width:100%">
              <thead>
                <th id="th">Date</th>
                <th id="th">Product</th>
                <th id="th">Quantity</th>
                <th id="th">Total</th>
                <th id="th">Status</th>
                <th id="th">Remarks</th>

             
              </thead>
              <tbody>
                <% order.forEach(data => { %>
                <tr>
                  <td>
                    <p class="quantity"><%- data.date_ordered.toISOString().slice(0,10) %></p>
                  </td>
                  <td >
                      <% data.items.forEach(item => { %>
                      <p class="td"><%- item.name %></p>
                      <% }) %>
                  </td>
                  <td>
                      <% data.items.forEach(item => { %>
                      <p class="quantity"><%- item.quantity %></p>
                      <% }) %>
                  </td>
                  <td>
                    <p class="quantity"><%- data.total_amount %></p>
                  </td>

                  <td >
                    <p class="quantity" ><%- data.status.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase()) ; %>
                     <% if(data.status == 'cancelled') { %>
                    <% } %></p>
                  </td>
                  <td>
                    <p class="quantity"><%- data.reason %></p>
                  </td>
                 
                </tr>
                <% }) %>
              </tbody>
            </table>
            <% if(order == false) { %>
            <p class="no-order">No order history</p>
            <% } %>
          </div>
        </div>
        <!-- Table -->
      </div>
      <!-- Body container -->
    </div>
    <!-- Body container -->
    <%- include('include/footer') %>
  </body>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
  <script>
     $('#example').DataTable({
    paging: false,
    scrollCollapse: true,
    scrollY: '300px'
    });
      
  </script>
</html>
