<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/user-orders.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
<%- include('include/head') %>
    <title>Order</title>
</head>
<body>
    <!-- Main container -->
    <div class="page-container">
        <%- include('include/nav') %> 
        <!-- Body container -->
        <div class="body-content">
            <div class="column">
                <div class="btn-container">
                    <a class="myaccount " href="account">Account</a>
                    <a class="orders active " href="order">Orders</a>
                    <a class="history" href="history">History</a>  
                </div>
            </div>
            <!-- table -->
            <div class="column-1">  
                <div class="table-wrapper">
                    <!-- <table  style="width:100%"> -->
                    <table id="example" class="display" style="width:100%">
                        <thead>
                            <th id="item-date"  >Date</th>
                            <th id="th-product"  >Product</th>
                            <th id="th-quantity" >Quantity</th>
                            <th id="th-total">Total</th>
                            <th id="th-status">Status</th>
                        </thead>
                            <tbody>
                                <% order.forEach(data => { %>
                                    <tr>
                                        <td id="item-date">
                                            <div>
                                              <p class="table-data2">
                                                <%- data.date_ordered.toISOString().slice(0,10) %>
                                              </p>
                                            </div>
                                          </td>
                                        <td id="item-name">
                                            <div >
                                            <% data.items.forEach(item => { %>
                                                <p class="table-data2"><%- item.name %></p>
                                            <% }) %>
                                            </div>
                                        </td>

                                        <td class="quantity">
                                            <div>
                                            <% data.items.forEach(item => { %>
                                                <p class="table-data2"><%- item.quantity %></p>
                                            <% }) %>
                                            </div>
                                        </td>

                                        <td>
                                            <div>
                                                <p class="table-data2"><%- data.total_amount %></p>
                                            </div>
                                        </td>

                                        <td class="status">
                                            <div>
                                            <p class="table-data2"><%- data.status.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase()); %></p>
                                            <% if(data.status == 'pending') { %>
                                                <form action="/user/order/<%- data.id %>" method="POST">
                                                    
                                                    <button class="cancel-btn" id="cartBtn" data-modal-target="#modal<%- data.id %>">Cancel</button>
                                                        <div class="modal" id="modal<%- data.id %>">
                                                            <div class="modal-header">
                                                            <div class="title"><span>Reason for cancelling</span>
                                                                <a data-close-button class="close-button">&times;</a>
                                                            </div>
                                                            
                                                            </div>
                                                            <div class="modal-body">
                                                            
                                                                <input type="text" name="reason" id="" required>
                                                            </div>
                                                        </div>
                                                        <div id="overlay"></div>
                                                   
                                                    <!-- <button class="cancel-btn">cancel</button> -->
                                                </form>
                                                <% } %>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                    </table>
                    <% if(order == false) { %>
                        <p class="no-order">No order yet</p>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- Body container -->
    </div>
    <!-- Main container -->
   
    <%- include('include/footer') %>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script>
   $('#example').DataTable({
    paging: false,
    scrollCollapse: true,
    scrollY: '200px'
    });
</script>
<script>
    const openModalButtons = document.querySelectorAll('[data-modal-target]')
    const closeModalButtons = document.querySelectorAll('[data-close-button]')
    const overlay = document.getElementById('overlay')

    openModalButtons.forEach(button => {
    button.addEventListener('click', () => {
        const modal = document.querySelector(button.dataset.modalTarget)
        openModal(modal)
    })
    })

    overlay.addEventListener('click', () => {
    const modals = document.querySelectorAll('.modal.active')
    modals.forEach(modal => {
        closeModal(modal)
    })
    })

    closeModalButtons.forEach(button => {
    button.addEventListener('click', () => {
        const modal = button.closest('.modal')
        closeModal(modal)
    })
    })

    function openModal(modal) {
    if (modal == null) return
    modal.classList.add('active')
    overlay.classList.add('active')
    }

    function closeModal(modal) {
    if (modal == null) return
    modal.classList.remove('active')
    overlay.classList.remove('active')
    }
</script>
</html>

